@import "./components/fonts";
@import "./components/variables";
@import "./components/button";
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: $bg-color;
}
@import "./components/home";
