@mixin nav_button {
  font-family: $font-1;
  text-transform: uppercase;
  width: 110px;
  border-radius: 20px;
  box-shadow: 1px 3px 8px 2px #d4d4d6;
  border: none;
  @media only screen and (min-width: 992px) {
    box-shadow: none;
    width: 130px;
    &:hover {
      box-shadow: 1px 3px 8px 2px #d4d4d6;
    }
  }
}
@mixin call_to_action {
  text-transform: uppercase;
  font-size: 16px;
  width: auto;
  padding: 0px 15px 0px 15px;
  height: 40px;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 3px 8px 2px #d4d4d6;
  @media only screen and (min-width: 768px) {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    box-shadow: none;
    &:hover {
      box-shadow: 1px 3px 8px 2px #d4d4d6;
    }
  }
}
