#navbar {
  @media only screen and (min-width: 992px) {
    margin-top: 10px;
  }
  nav {
    a {
      font-family: $font-1;
      margin-left: 10px;
    }
    div {
      @media only screen and (min-width: 768px) {
        margin-left: 40px;
      }
      font-family: $font-1;
      background-color: $bg-color;
      #singnup_button {
        background-color: $color-1;
        color: $color-2;
        @include nav_button;
      }
      #login_button {
        background-color: $color-2;
        color: $color-1;
        @include nav_button;
      }
    }
  }
}
#hero {
  height: 100%;
  width: 100%;
  div {
    h1 {
      margin-top: 10px;
      font-family: $font-2;
      text-transform: capitalize;
      font-size: 27px;
      @media only screen and(min-width: 768px ) {
        font-size: 40px;
      }
    }
    h2 {
      text-align: justify;
      font-family: $font-1;
    }
  }
  .ct1 {
    @include call_to_action;
  }
  .ct2 {
    background-color: $color-2;
    color: $color-1;
    @include call_to_action;
  }
}

// brands section
.brands {
  div {
    div {
      img {
        height: 50px;
        width: auto;
        opacity: 50%;
      }
      @media only screen and (min-width: 992px) {
        img {
          height: 40px;
          width: auto;
          opacity: 50%;
        }
      }
    }
  }
}
